root = true

[*.cs]
indent_style             = space
indent_size              = 4
end_of_line              = lf
charset                  = utf-8
trim_trailing_whitespace = true
insert_final_newline     = true

# Language preferences
csharp_style_namespace_declarations          = file_scoped:warning
csharp_prefer_simple_using_statement         = true:warning
csharp_style_prefer_primary_constructors     = false:suggestion
dotnet_sort_system_directives_first          = true
dotnet_separate_import_directive_groups      = false

# Nullable
dotnet_diagnostic.CS8600.severity = error
dotnet_diagnostic.CS8601.severity = error
dotnet_diagnostic.CS8602.severity = error
dotnet_diagnostic.CS8603.severity = error
dotnet_diagnostic.CS8604.severity = error
dotnet_diagnostic.CS8618.severity = error
dotnet_diagnostic.CS8625.severity = error
